<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new</title>
</head>
<!--<form method="post" action="/notes/all/">-->
<!--{% csrf_token %}-->
    <!--Title <br>-->
    <!--<input type="text" name="title"><br>-->
    <!--Body <br>-->
    <!--<input type="text" name="body"><br>-->
    <!--<input type="submit" name="submit">-->
<!--</form>-->
<form method="POST" action="">
    {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Create New">
</form>

</body>

</html>